* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #1d1e22, #272b30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #2f343f;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

/* @keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
} */

h2 {
  color: #fff;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 45px 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #3c434f;
  color: #fff;
}

.copy-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #00b894;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.copy-btn:hover {
  background: #00a383;
}

.generate-btn {
  background: #0984e3;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.generate-btn:hover {
  background: #076ec1;
}

.copied-msg {
  color: #00b894;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.copied-msg.show {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: #4caf50;
  color: white;
  padding: 16px 32px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 9999;
  animation: slideDown 0.6s ease forwards, fadeOut 0.5s ease 3.5s forwards;
  visibility: hidden;
}

@keyframes slideDown {
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
}

.js-pop-up-msg{
  visibility: visible;
}
